{% extends 'base.html' %} {% block head %}

<title>HomePage</title>
{% load static %} <link rel="stylesheet" href={% static 'css/home.css' %}>
{%endblock%} {% block content %}
<div id="body">
  <h1 id="title">Welcome to Akshats document locker</h1>
  <br />
  <br />
  <p id="main_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quis
    sequi vero praesentium molestias voluptates nostrum itaque? Saepe hic
    nostrum repellendus consectetur. Earum delectus sit, distinctio iure
    molestias autem explicabo recusandae neque suscipit dolore fuga doloremque
    error ipsum placeat atque odit repellendus vero accusantium, illum
    architecto in ipsa? Mollitia illo odio officiis voluptatum! Mollitia
    voluptas ducimus dolorum aut consectetur amet aperiam repellat repudiandae
    fugiat itaque optio, voluptate debitis excepturi quis? Nemo eveniet
    obcaecati hic esse ipsam, amet et itaque sint beatae quaerat dolorem impedit
    cum dolore dignissimos eligendi! Voluptate molestias a doloribus minima
    laboriosam cupiditate deleniti placeat, tenetur tempora rerum. Consectetur
    ipsa fugit tempore corporis quod quasi cupiditate architecto dolore rem
    fugiat unde voluptates blanditiis, alias nisi quis dignissimos hic officiis
    maxime animi sequi vitae! Cumque iusto voluptatem, aspernatur cupiditate
    provident at quo rerum, distinctio, explicabo quos aut praesentium eligendi
    molestias. Eaque nam inventore nobis pariatur a consectetur iste provident
    unde nostrum voluptate, ea quibusdam est quos vitae ducimus, quaerat
    quisquam voluptatibus. Numquam sequi in perspiciatis sit ullam blanditiis
    sunt! Dolor quos odit aliquid repudiandae cum id quia dolorem rem quam qui
    excepturi, sunt ea in sit eligendi deserunt, quidem ab eos asperiores odio,
    tempora natus ullam? Enim ducimus dolorum fuga facere assumenda inventore
    maxime laborum esse ea, labore rerum reiciendis adipisci, earum sed, minus
    non nam! Doloremque, vitae sit. Cum esse dolorem ipsam odio laudantium, quos
    <br /><br />
    iure exercitationem illum delectus, nesciunt explicabo accusantium aliquid
    dolorum pariatur sunt natus assumenda odit nulla. Vel, adipisci repellendus
    culpa, optio autem dolorum esse ut odit obcaecati tempora odio incidunt.
    Rerum aperiam, hic, ex iste optio nostrum nam delectus assumenda est
    voluptatibus sunt temporibus vitae nihil. Aperiam fugiat, atque eum eius
    omnis, corrupti maiores quis neque molestiae sapiente odio provident, error
    quidem voluptatum? Quia neque, ad illo tempora magni explicabo beatae et
    dolores necessitatibus eum corrupti sed error voluptate itaque fugiat
    cupiditate mollitia similique quas hic quod unde a. Suscipit, eligendi.
    Blanditiis minus hic aperiam tenetur sed ipsam vel consectetur aliquam
    magnam enim, deleniti voluptatem rem ut sunt odit atque facere itaque,
    veritatis culpa labore nulla magni. Eligendi deleniti, natus aut hic nemo
    blanditiis commodi voluptatem laboriosam deserunt reiciendis, tempora quod,
    repellendus ratione. Recusandae dolor distinctio cum? Doloribus inventore
    numquam sunt! Excepturi dolorem eligendi iste fugiat sapiente adipisci ipsa
    eveniet odit? Pariatur ipsum repellat eius dicta quibusdam rem vel
    voluptates delectus iure odio atque saepe, labore corrupti blanditiis
    aliquid possimus assumenda vitae veniam ullam dolore similique. Consectetur
    earum accusantium asperiores nihil illum laborum vitae sed, eos cumque quae
    id vero nam odit ducimus est, totam explicabo debitis obcaecati
    voluptatibus, magni doloribus. Dignissimos, culpa. Ducimus ratione quis at
    in quaerat cupiditate cum nemo nulla velit beatae veniam, reprehenderit
    inventore vero optio dignissimos placeat dolore hic aperiam quam soluta esse
    neque similique officia labore! Illo voluptatibus deserunt quasi obcaecati?
    <br /><br />
    Tenetur eos, cum quaerat ea nulla exercitationem delectus dolore, laborum
    porro sapiente asperiores? Eveniet ullam optio ad, adipisci excepturi quis
    nobis est quidem voluptas saepe omnis, aspernatur odit illum sapiente vero,
    quam voluptatum aperiam. Magnam deleniti ut soluta est aut dolores,
    inventore iusto recusandae, excepturi corporis aliquid aliquam ipsa tenetur
    suscipit consequuntur aperiam quidem cum cumque. Odio ex facere cum id nisi
    veniam asperiores maiores aspernatur, tempore iure molestiae quibusdam
    placeat quasi, atque ratione, a at obcaecati? Assumenda iusto similique
    sunt? Nobis, tenetur. Provident reprehenderit architecto rerum quisquam illo
    magnam consequuntur nemo dolor, voluptatibus cupiditate a minus id, quaerat
    vero aperiam tempora cumque? Beatae voluptate quam, magnam, quae assumenda
    ut delectus sapiente ipsum iste id itaque cupiditate ipsam excepturi
    officiis unde similique odio perferendis! Eum at vitae fugiat! Velit, quis
    inventore ab nisi aut consequuntur eum illo quod unde totam ipsum ipsam ad
    saepe neque qui, ratione veniam ea sunt quidem, ex eos assumenda quam
    distinctio. Aliquam, voluptatem adipisci cupiditate sunt, autem voluptatibus
    animi voluptatum unde explicabo totam soluta iste officia eos, dicta aperiam
    necessitatibus accusantium doloremque quam. Porro illo facilis sunt
    accusantium, velit accusamus animi! Dignissimos vitae obcaecati illo earum
    facilis animi dolor beatae sapiente enim ipsam ea quod sequi porro nesciunt
    rerum quaerat, tempora harum excepturi minima. Aliquam atque eveniet
    eligendi qui ex dolorum et non enim quasi, omnis voluptas quia perspiciatis?
    Nisi iure quisquam quod. Dolorum hic officia deserunt exercitationem dicta
    ad veniam voluptatibus voluptatem error alias ea pariatur repudiandae, iusto
    facilis quaerat ullam est iste assumenda eius at vero atque? Magnam aperiam
    earum repellendus distinctio consectetur expedita praesentium commodi
    consequuntur, cumque blanditiis eum omnis eius eos, illum amet odit maiores
    dolor! Ipsa eos nesciunt perferendis facilis praesentium nisi incidunt
    suscipit, aut, quis deleniti quos nihil impedit recusandae eaque eligendi
    quo voluptate magni, blanditiis accusantium tenetur nemo est dolore
    veritatis maxime? Error quasi repellat necessitatibus, repudiandae aliquam
    delectus inventore cum! Veritatis consectetur magnam doloremque praesentium
    ratione soluta veniam necessitatibus illo delectus, suscipit hic sint
    accusantium illum quasi magni dolor voluptate dicta unde fuga aliquam porro
    aliquid ex cumque amet. Exercitationem quis, veritatis dicta vero id aliquid
    explicabo quos sit in cupiditate fugit commodi dignissimos quo maiores error
    consequatur necessitatibus obcaecati consectetur nobis hic consequuntur
    <br /><br />
  </p>
</div>

{% endblock %}
